---
layout: default
---
<!-- <section class="mission">
  <h2>Our Mission</h2>
  <p>
    Welcome to the Center for Physical Therapy and Sports Medicine, where compassionate care meets individualized healing. With almost two decades of service as a family-owned outpatient clinic, we're more than practitioners – we're partners on your path to recovery.
  </p>
  <p>
    Led by a husband and wife team, our legacy thrives on personalized attention. We understand that your goals are as unique as your journey, and we're dedicated to crafting tailored solutions for musculoskeletal issues and injuries. 
  </p>
  <p>
    At the heart of our practice is your success story. Athletes pursuing excellence, individuals regaining mobility – we're here to guide every ambition. Through expert evaluation and custom treatment plans, we're committed to restoring your body's potential.
  </p>
</section> -->

<!-- <section class="cards">
  <div class="card">
    <h3>Our Services</h3>
    <img alt="best in class treatment" src="{{ '/assets/images/services-card.jpg' | relative_url }}" />
    <p>
      Our physical therapy treatments focus on healing or rehabilitating your musculoskeletal injury or disorder to restore function and return to normal activities. We offer several different types of treatment, such as hands-on manual therapy, pain management modalities, and dry needling treatments to make sure you meet your physical therapy goals.
    </p>
  </div>

  <div class="card">
    <h3>Virginia Licensed Physical Therapists</h3>
    <img alt="virginia licensed" src="{{ '/assets/images/licensed-card.jpg' | relative_url }}" />
    <p>
      All of our physical therapists are licensed by the Virginia Board of Physical Therapy and are Direct Access Certified, so you do not need a referral or prescription to be evaluated or treated through our clinic.
    </p>
  </div>

  <div class="card">
    <h3>Direct Access</h3>
    <img alt="something else" src="{{ '/assets/images/access-card.jpg' | relative_url }}"">
    <p>
      All of our physical therapists are licensed by the Virginia Board of Physical Therapy and are Direct Access Certified, so you do not need a referral or prescription to be evaluated or treated through our clinic.
    </p>
  </div>
</section> -->
<div class="content-section">
  <div class="content-wrapper w-container">
    <div class="center-box">
      <div class="mini-title">OUR MISSION</div>
      <div>
        <p class="intro-paragraph">Welcome to the Center for Physical Therapy and Sports Medicine, where compassionate care meets individualized healing. With almost two decades of service as a family-owned outpatient clinic, we&#x27;re more than practitioners – we&#x27;re partners on your path to recovery.<br><br>Led by a husband and wife team, our legacy thrives on personalized attention. We understand that your goals are as unique as your journey, and we&#x27;re dedicated to crafting tailored solutions for musculoskeletal issues and injuries. <br><br>At the heart of our practice is your success story. Athletes pursuing excellence, individuals regaining mobility – we&#x27;re here to guide every ambition. Through expert evaluation and custom treatment plans, we&#x27;re committed to restoring your body&#x27;s potential.</p>
      </div>
    </div>
  </div>
</div>


<div class="content-section">
  <div class="content-wrapper w-container">
    <div id="services" class="bottom-line">
  
  <!-- services -->
      <div class="flex">
        <div class="_50-column-center mobile-border">
          <div class="text-block-2">
            <div class="mini-title">Our services</div>
            <div class="top-border">
              <p>Our physical therapy treatments focus on healing or rehabilitating your musculoskeletal injury or disorder to restore function and return to normal activities.</p>
              <p>We offer several different types of treatment, such as hands-on manual therapy, pain management modalities, and dry needling treatments to make sure you meet your physical therapy goals.</p>
            </div>
          </div>
        </div>
        <div class="_50-column">
          <img src="/assets/images/services-card.jpg" alt="image showing services" class="image">
        </div>
      </div>
    </div>

<!-- licensed -->

    <div class="top-border _40">
      <div id="licensed" class="bottom-line">
        <div class="flex">
          <div class="_50-column-center mobile-border">
            <a href="#" class="w-inline-block w-lightbox"><img src="/assets/images/licensed-card.jpg" alt="image showing pts" class="image">
            </a>
          </div>
          <div class="_50-column-center">
            <div class="text-block-2">
              <div class="mini-title">virginia licensed physical therapists</div>
              <div class="top-border">
                <p>All of our physical therapists are licensed by the Virginia Board of Physical Therapy and are Direct Access Certified, so you do not need a referral or prescription to be evaluated or treated through our clinic.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- direct access -->

<div class="top-border _40">
  <div id="access">
      <div class="flex">
        <div class="_50-column-center mobile-border">
          <div class="text-block-2">
            <div class="mini-title">Direct Access</div>
            <div class="top-border">
              <p>All of our physical therapists are licensed by the Virginia Board of Physical Therapy and are Direct Access Certified, so you do not need a referral or prescription to be evaluated or treated through our clinic.</p>
            </div>
          </div>
        </div>
        <div class="_50-column">
          <img src="/assets/images/access-card.jpg" alt="image showing access" class="image">
        </div>
      </div>
    </div>
  </div>
  </div>
</div>